// theme colors
$primary: #0c2537;
$secondary: #182c6a;
$tertiary: #000000;

// Text colors
$text-white: white;
$text-dark: black;

// Colors
$bg-offwhite: #eceef3;

// Typography
$base-font: 1rem;
$font-size-secondary: 14px;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-radius: 12px;
