@import "variables";
@import "typography";
@import "mixins";

.meta {
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $secondary;
}
.title {
    font-size: 3.5rem;
    // text-transform: uppercase;
    font-weight: 500;
    font-family: $font-family-bold;
    color: $secondary;
    line-height: 1.15;
    padding: 1rem 0rem;
    @include mobile {
        font-size: 1.9rem;
    }
}
.titleTwo {
    font-size: 3rem;
    font-weight: 400;
    @include mobile {
        font-size: 2.2rem;
    }
}
.text {
    color: rgba(255, 255, 255, 0.733);
    padding: 1rem 0rem;
    color: $secondary;
}
.content {
    max-width: 600px;
}
.textDark {
    padding: 2rem 0rem;
    color: $secondary;
}
.btn {
    width: 100%;
    max-width: 190px;
    padding: 1rem 2rem;
    outline: 1px solid $primary;
    background-color: $text-white;
    border: none;
    transition: 0.5s all;
}
.btn:hover {
    background-color: $primary;
    color: $text-white;
    outline-color: $text-white;
    cursor: pointer;
}
.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 5rem 2rem;
}

.aboutSection {
    background-size: 100%;
    // @include mobile {
    //     background-size: 150%;
    //     background-position: center;
    // }
    background-position: center;
    background-repeat: no-repeat;
    @include tablet {
        background-size: cover;
    }
    .container {
        // max-width: 1200px;
        display: flex;
        align-items: center;
        gap: 1rem;

        .title {
            text-transform: none;
            font-weight: 500;
        }
        .aboutContent {
            width: 100%;
            // padding: 0rem 2rem;
            @include tablet {
                mix-blend-mode: darken;
            }
        }
        .text {
            color: $primary;
            padding: 2rem 0rem;
        }
        .btn {
            background-color: transparent;
            &:hover {
                background-color: $primary;
                // color: $primary;
                // outline: 1px solid $primary;
            }
        }
        .aboutAbstractImage {
            max-width: 500px;
            min-width: 300px;
            margin-left: -10rem;
            @include mobile {
                max-width: 300px;
            }

            @include tablet {
                display: none;
                position: absolute;
                // z-index: -10;
                margin-left: -10rem;
                bottom: 0;
                left: -10rem;
                mix-blend-mode: difference;
            }
        }
    }
}

.featureSection {
    .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .title {
            text-transform: none;
            font-weight: 500;
            // font-size: 4rem;
        }
        .text {
            color: $primary;
        }
        hr {
            margin: 1rem 0rem;
            border-color: $text-white;
        }
        .featureGrid {
            // display: flex;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 4rem 0rem;
            gap: 1rem;
            @include tablet {
                grid-template-columns: repeat(1, 1fr);
            }
            // justify-content: space-between;
            // flex-wrap: wrap;
            .featureCard {
                max-width: 400px;
                width: 100%;
                @include tablet {
                    max-width: 100%;
                    border-top: 0.5px solid $secondary;
                    padding-top: 1rem;
                }
                .meta {
                    color: $secondary;
                    padding: 1rem 0rem;
                }
                .titleTwo {
                    line-height: 1.15;
                    font-weight: 600;
                    color: $secondary;
                }
                .text {
                    color: $secondary;
                }
            }
        }
    }
}

.ethicSection {
    background-size: cover;
    background-repeat: no-repeat;
    .container {
        @include tablet {
            flex-direction: column;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        .content {
            max-width: 600px;
            .title {
                text-transform: none;
                font-weight: 500;
                // font-size: 4rem;
                // line-height: 1.4;
                padding-bottom: 1rem;
            }
        }
        .sectionImage {
            width: 100%;
            max-width: 475px;
        }
    }
}

.quoteSection {
    .container {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        gap: 4rem;
        .image {
            display: flex;
            max-height: 500px;
            max-width: 350px;
        }
        @include tablet {
            flex-direction: column;
        }
        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            // gap: 2rem;
            .contentText {
                width: 100%;
            }
            .title {
                text-transform: none;
                font-size: 2.5rem;
                padding: 1rem 0rem;
                line-height: 1.3;
                @include mobile {
                    font-size: 2rem;
                }
            }
        }
        .authorGroup {
            padding-top: 2rem;
            display: flex;
            justify-content: space-between;
            // align-items: center;
            flex-direction: column-reverse;
            max-width: 500px;
            .authorImage {
                display: flex;
                max-width: 100px;
            }
            .author {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                .titleTwo {
                    font-size: 1.7rem;
                }
            }
        }
    }
}

.teamSection {
    .container {
        .content {
            max-width: 100%;
        }

        .teamGrid {
            padding: 4rem 0rem;
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(2, 1fr);
            @include mobile {
                grid-template-columns: repeat(1, 1fr);
            }
            .gridItem {
                display: flex;
                align-items: center;
                background-color: $bg-offwhite;
                outline: 0.5px solid $bg-offwhite;
                // padding: 1rem 0rem;
                @include tablet {
                    padding-bottom: 1rem;
                    max-width: fit-content;

                    flex-direction: column;
                    align-items: start;
                }
                .image {
                    display: flex;
                }

                // justify-content: center;
                // padding: 0rem 2rem;
                .content {
                    padding: 0rem 1rem;
                    @include tablet {
                        padding-top: 1rem;
                    }
                }
                .title {
                    font-size: 1.8rem;
                }
                .meta {
                    font-size: 0.7rem;
                }
                .icon {
                    color: $secondary;
                    font-size: 1.2rem;
                    margin: 1.3rem 0rem;
                    border-radius: 100%;
                    max-width: fit-content;
                    // outline: 1px solid $secondary;
                    // padding: 0.7rem;
                }
            }
        }
    }
}
