@import "variables";
@import "typography";
@import "mixins";

.meta {
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $secondary;
}
.title {
    font-size: 3.5rem;
    // text-transform: uppercase;
    font-weight: 500;
    font-family: $font-family-bold;
    color: $secondary;
    line-height: 1.15;
    padding: 1rem 0rem;
    @include mobile {
        font-size: 2.5rem;
    }
}
.highlight {
    // font-style: italic;
    color: $tertiary;
}
.titleTwo {
    font-size: 3rem;
    font-weight: 400;
    @include mobile {
        font-size: 2.2rem;
    }
}
.text {
    color: rgba(255, 255, 255, 0.733);
    padding: 1rem 0rem;
    color: $secondary;
}
.content {
    max-width: 600px;
}
.textDark {
    padding: 2rem 0rem;
    color: $secondary;
}
.btn {
    width: 100%;
    max-width: 190px;
    padding: 1rem 2rem;
    outline: 1px solid $primary;
    background-color: $text-white;
    border: none;
    transition: 0.5s all;
}
.btn:hover {
    background-color: $primary;
    color: $text-white;
    outline-color: $text-white;
    cursor: pointer;
}
.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 5rem 2rem;
    @include mobile {
        padding: 3rem 1rem;
    }
}

.blogsHero {
    min-height: 40vh;
}
.blogList {
    .blogGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
        justify-content: space-between;
        gap: 1.5rem;
        .blogItem {
            display: flex;
            flex-direction: column;
            .blogImage {
                display: flex;
                margin: 1rem 0rem;
                border-radius: 10px;
                overflow: hidden;
            }

            .title {
                font-size: 2rem;
                padding: 0.5rem 0rem;
                // padding-bottom: 0rem;
            }
            .text {
                text-align: justify;
            }
            .btn {
                padding: 0;
                border: none;
                outline: none;
                color: $tertiary;
                max-width: fit-content;
                &:hover {
                    color: $secondary;
                    background-color: white;
                }
            }
        }
    }
}
