@import "variables";
@import "typography";
@import "mixins";
@import "utility";

.meta {
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $secondary;
}
.title {
    font-size: 3.5rem;
    // text-transform: uppercase;
    font-weight: 500;
    font-family: $font-family-bold;
    color: $secondary;
    line-height: 1.15;
    padding: 1rem 0rem;
    @include mobile {
        font-size: 1.9rem;
    }
}
.highlight {
    // font-style: italic;
    color: $tertiary;
}
.titleTwo {
    font-size: 3rem;
    font-weight: 400;
    @include mobile {
        font-size: 2.2rem;
    }
}
.text {
    color: rgba(255, 255, 255, 0.733);
    padding: 1rem 0rem;
    color: $secondary;
}
.content {
    max-width: 600px;
}
.textDark {
    padding: 2rem 0rem;
    color: $secondary;
}
.btn {
    width: 100%;
    max-width: 190px;
    padding: 1rem 2rem;
    outline: 1px solid $primary;
    background-color: $text-white;
    border: none;
    transition: 0.5s all;
}
.btn:hover {
    background-color: $primary;
    color: $text-white;
    outline-color: $text-white;
    cursor: pointer;
}
.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 5rem 2rem;
    @include mobile {
        padding: 3rem 1rem;
    }
}

.CTASection {
    min-height: fit-content;
    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 2rem;
        .ctaImg {
            display: flex;
            max-width: 200px;
        }
    }
}
.connectCTA {
    background-color: $primary;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .container {
        width: 100%;
        max-width: 1200px;
        padding: 5rem 2rem;
        display: flex;
        justify-content: space-between;
        @include tablet {
            flex-direction: column;
            padding: 5rem 1rem;
        }
        .content {
            max-width: 700px;
        }
        .meta {
            color: $text-white;
        }
        .title {
            text-transform: none;
            color: $text-white;
            font-weight: 300;
        }
        // circle rotate
        .circle {
            position: relative;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .logo {
                position: absolute;
                // width: var(--d-inner);
                width: 150px;
                height: 150px;
                // height: var(--d-inner);
                background-size: cover;
                border-radius: 50%;
                filter: contrast(1.5);
            }

            .text {
                position: absolute;
                width: 100%;
                height: 100%;
                color: $text-white;
                animation: rotateText 15s linear infinite;
                padding: 0rem;
                > p {
                    // letter-spacing: 1.5px;
                    span {
                        position: absolute;
                        left: 50%;
                        font-size: 0.8rem;
                        transform-origin: 0 100px;
                    }
                }
                @keyframes rotateText {
                    0% {
                        transform: rotate(360deg);
                    }
                    100% {
                        transform: rotate(0deg);
                    }
                }
            }
            @include tablet {
                transform: scale(0.6);
                // align-self: flex-start;
                margin-left: -3rem;
            }
        }
    }
}
