@import "variables";
@import "typography";
@import "mixins";

.meta {
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.title {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: $font-family-bold;
    color: $secondary;

    @include mobile {
        font-size: 2.5rem;
    }
}
.titleTwo {
    font-size: 3rem;
    font-weight: 400;
}
.text {
    color: rgba(255, 255, 255, 0.733);
    padding: 1rem 0rem;
}
.textDark {
    padding: 2rem 0rem;
    color: $secondary;
}
.btn {
    width: 100%;
    max-width: 190px;
    padding: 1rem 2rem;
    outline: 1px solid $primary;
    background-color: $text-white;
    border: none;
    transition: 0.5s all;
}
.btn:hover {
    background-color: $primary;
    color: $text-white;
    outline-color: $text-white;
    cursor: pointer;
}

.footerSection {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $primary;

    .footerContainer {
        display: flex;
        justify-content: space-between;
        padding: 4rem 2rem;
        @include mobile {
            padding: 3rem 1rem;
        }
        width: 100%;
        max-width: 1200px;
        @include tablet {
            // flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            // align-items: flex-start;
            gap: 5rem;
            @include mobile {
                gap: 3rem;
            }
        }
        .footerColumn {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            ul {
                li {
                    text-transform: lowercase;
                    text-transform: capitalize;
                    padding: 0.2rem 0rem;
                    color: $text-white;
                    font-weight: 300;
                    font-size: 0.9rem;
                }
            }
            .titleTwo {
                font-family: $font-family-bold;
                font-size: 1rem;
                font-weight: 900;
                color: white;
                letter-spacing: 0.5px;
            }
        }
        .address {
            max-width: 500px;

            .text {
                color: $text-white;
            }
            .socials {
                display: flex;
                gap: 1rem;
                color: $text-white;

                .socialsIcon {
                    border-radius: 100%;
                    background-color: $secondary;
                    padding: 1rem;
                    transition: 0.5s all;

                    &:hover {
                        color: $secondary;
                        background-color: $text-white;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
