@import "variables";
@import "typography";
@import "mixins";

.meta {
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $secondary;
}
.title {
    font-size: 3.5rem;
    // text-transform: uppercase;
    font-weight: 500;
    font-family: $font-family-bold;
    color: $secondary;
    line-height: 1.15;
    padding: 1rem 0rem;
    @include mobile {
        font-size: 2.5rem;
    }
}
.highlight {
    // font-style: italic;
    color: $tertiary;
}
.titleTwo {
    font-size: 3rem;
    font-weight: 400;
    @include mobile {
        font-size: 2.2rem;
    }
}
.text {
    color: rgba(255, 255, 255, 0.733);
    padding: 1rem 0rem;
    color: $secondary;
}
.content {
    max-width: 600px;
}
.textDark {
    padding: 2rem 0rem;
    color: $secondary;
}
.btn {
    width: 100%;
    max-width: 190px;
    padding: 1rem 2rem;
    outline: 1px solid $primary;
    background-color: $text-white;
    border: none;
    transition: 0.5s all;
}
.btn:hover {
    background-color: $primary;
    color: $text-white;
    outline-color: $text-white;
    cursor: pointer;
}
.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 5rem 2rem;
    @include mobile {
        padding: 3rem 1rem;
    }
}
.portfolioHero {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    @include mobile {
        flex-direction: column;
    }
    .container {
        .content {
            max-width: 800px;
        }
    }
    .imageSlider {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .sliderImage {
            display: flex;
            min-width: 600px;
        }
    }
    .heroGallery {
        display: flex;
        background-color: $secondary;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        max-height: 100vh;
        align-items: center;
        justify-content: center;
        @include mobile {
            min-height: 40vh;
            max-height: 60vh;
        }
        max-width: 800px;
        overflow: hidden;
        // flex-wrap: wrap;
        .galleryImages {
            display: flex;
            margin: 0.2rem 1rem;
            gap: 0.5rem;
        }
        .galleryImagesSecond {
            flex-direction: row-reverse;
        }
        .galleryImage {
            min-width: 250px;
            // max-width: 300px;
            // max-height: 400px;
            width: 100%;

            // display: flex;

            overflow: hidden;
        }
    }
}

.gallerySection {
    .image {
        display: flex;
    }
    .flexFlipLeft {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 3rem;
        @include mobile {
            flex-direction: column-reverse;
            align-items: baseline;
            gap: 2rem;
        }
    }
    .flexFlip {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 3rem;
        @include mobile {
            flex-direction: column-reverse;
            align-items: baseline;
            gap: 2rem;
            .title {
                padding: 0.5rem 0rem;
            }
        }
    }
    .content {
        width: 100%;
    }
}
